body {
    width: 100%;
    height: 100vh;
    color: #222;
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebecf0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  /* index html styles */
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .username {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .btnContainer {
    display: flex;
  }
  .btn {
    background-color: #ebecf0;
    margin: 4px;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    color: #696969;
    text-shadow: 1px 2px 0 #fff;
    cursor: pointer;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #a5a9b6;
    transition: all 0.3s ease-in-out;
  }
  .btn:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    font-size: 11px;
  }
  .btn:active {
    box-shadow: inset 1px 1px 2px #babecc, -1px -1px 3px #fff;
  }
  a {
    text-decoration: none;
    color: #696969;
  }
  .bold {
      font-weight: 500;
  }
  .postsContainer {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: .5rem;
  }
  .post {
      padding: 5px;
      border: 1px solid #666;
  }
  .todoContainer, 
  .albumContainer {
      font-size: 15px;
  }
  .true {
      text-decoration: line-through;
  }
.albumContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container {
  width: 100%;
  height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#picContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 14px;
    margin-top: 1rem;
}
.image1 {
    width: 150px;
    height: 150px;
}
.image2 {
    width: 300px;
    height: 300px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.border {
  border-bottom: 1px solid #666;
}
